<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pag Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"
  </head>
  <body>
    <div class="container">
      <div class="">
        <h1>Profile Page</h1>
        <a href="/logout" class="btn btn-info btn-sm fa fa-outdent"> Logout</a>
      </div>
      <p><%= user.local.email %></p>
    </div>
  </body>
</html>
